@tailwind base;
@tailwind components;
@tailwind utilities;

/* 添加隐藏滚动条的样式 */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}